.sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 1rem;
    background-color: #f9fafb;
}
  
.sidebar ul {
    list-style: none;
    padding: 0;
}

  .sidebar li {
    margin-bottom: 10px;
    cursor: pointer;
}

.sidebar .btn {
    border-radius: 8px;
}

.sidebar .btn:hover {
    background-color: #e0e0e0;
}